{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": true } }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src",
        "controllers": "./src/controllers",
        "test": "./test"
      }
    }]
  ]
}
